
.data {
    background: rgb(189, 187, 187);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 24vh;
    overflow: hidden;
    
}

.data h1 {
    font-size: 18px;
}

.data p {
    font-size: 15px;
    padding: 1%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-top: -4%;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
  }

  .button:hover{
    transform: translateY(-10px);
    
  }


  /* ********* para tablets ************* */
 @media screen and (max-width: 900px){
    .data p{
        font-size: 16.5px;
    }
 }

  @media screen and (max-width: 780px) {
    .data p{
        font-size: 15px;
    }
  }


  /* ******* para mobile ******** */

@media screen and (max-width:500px) {
    .data  {
        font-size: 15px;
        height: 32vh;
    }

    .data p {
        font-size: 17.5px;
        padding: 1%;
    }
    .button {
        font-size: 15px;
    }
}


  @media screen and (max-width: 380px) {
    .data  {
        font-size: 15px;
        height: 32vh;
    }

    .data p {
        font-size: 12px;
        padding: 1%;
    }
    .button {
        font-size: 10px;
    }
  }