.contenedor {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  width: 100vw;
  display: flex;
  background: black;
}



.img {
  height: 100vh;
  width: 80vw;
}

.imagen {
  height: 100vh;
  width: 100%;
  animation: floatin 4s ease-in-out;
}


@keyframes floatin {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}





.title {
  width: 23%;
  height: 100vh;
  background: black;
  box-shadow: -20px 0px 20px black;
  color: white;
  display: flex;
  align-items: center;
  padding: 3%;
  text-align: justify;
}

.title h1 {
  text-align: center;
}


@keyframes floatIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title span {
  animation: floatIn 5s ease-in-out;
}

/* 
********************** para tablets **************** */
@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }
  .imagen{
    height: 100%;
  }

  .img{
    width: 100%;
    height: 75vh;
  }
  .title{
    width: 100%;
    height: 25vh;
    padding: 0;
  }
  .title p{
    padding: 2%;
  }

}




/* ************************ para movile***************** */
@media screen and (max-width: 500px) {
  .contenedor{
    position: fixed;
  }
  
  .content {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 100%;
    height: 60vh;
  }

  .imagen{
    height: 100%;
  }

  .title {
    width: 100%;
    height: 40vh;
    padding: 0;
    font-size: 10px;
    text-align: center;
    align-items: baseline;
  }

  .title h1{
    margin: 0;
  }

  .title p{
    padding: 3%;
    font-size: 14px;
  }
  
}



@media screen and (max-width:380px) {
  .contenedor{
    position: fixed;
  }
  
  .content {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 100%;
    height: 60vh;
  }

  .imagen{
    height: 100%;
  }

  .title {
    width: 100%;
    height: 40vh;
    padding: 0;
    font-size: 10px;
    text-align: center;
    align-items: baseline;
  }

  .title h1{
    margin: 0;
  }

  .title p{
    padding: 3%;
    font-size: 10.2px;
  }

}